@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');

#app {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
}

html,
body,
h1,
h2,
h3,
p {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1 {
  font-size: 72px;
  font-weight: 600;
}

h2 {
  font-size: 48px;
  font-weight: 600;
}

.h2 {
  font-size: 48px;
}

h3 {
  font-size: 64px;
  font-weight: 600;
}

p {
  margin-top: 1.5rem;
  font-size: 18px;
  text-align: justify;
}

.subtitle {
  font-size: 30px;
  font-weight: 300;
  color: #9D9D9D;
  margin-top: 2rem;
  text-align: center;
}

i {
  font-size: 30px;
}

.text-center {
  text-align: center;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.25rem;
}

.justify-center {
  justify-content: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 85%;
  max-width: 1050px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 6rem;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

#donut-scene {
  height: 240px;
  width: 90%;
  max-width: 240px;
  margin-top: 4rem;
}

canvas {
  height: 100%;
  width: 100%;
}

.projects-list {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.project-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: rgb(239, 239, 239);
  border-radius: 33px;
  background-repeat: repeat;
}

.project-item#anibin {
  background-image: url('anibinbg.png');
}

.spotify {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 3rem;
    margin-bottom: 4rem;
    gap: 2rem;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 40px;
  }

  .subtitle {
    font-size: 24px;
    margin-top: 1.25rem;
  }

  .socials {
    gap: 2rem;
  }

  #donut-scene {
    margin-top: 2.75rem;
  }

  .projects-list {
    margin-top: 2rem;
    gap: 2rem;
  }
}